h1 {
    color: red;
    font-size: 80px;
}

/* h2 {
    color: green;
} */

#tituloverde {
    color: green;
}

.tituloazul {
    color: blue;
}

h3 {
    color: yellow; 
    background-color: #d5d5d5;
}